#content .editor {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
}

#content #editor {
	flex: 1 1 auto;
	border: 0;
	padding: 6rem 10rem 4rem 10rem;
	font-size: 2rem;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 500;
	color: #222;
	caret-color: red;
	resize: none;
}

#content .hidden {
	display: none;
}