#editor {
	flex: 1 1 auto;
	border: 0;
	padding: clamp(1.5rem, 4vw, 4rem) clamp(1.5rem, 8vw, 8rem);
	font-size: 1.5rem;
	line-height: 1.8;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	color: #000;
	background-color: #fefefe;
	caret-color: #2563eb;
	resize: none;
	outline: none;
}

.hidden {
	display: none !important;
}