html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

#container {
	display: flex;
	flex-flow: row nowrap;

	height: 100vh;
	padding: 0;
	margin: 0;
}

#toc {
	border-right: 1px solid #ddd;
	flex: 0 0 35rem;
	overflow: hidden auto;
}

#content {
	flex: 1 1 auto;
	overflow: hidden auto;
}

.header {
	height: 8rem;
	display: flex;
	flex: 0 0 auto;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}