#toc {
	background-color: var(--toc-bg-color);
}

#toc .header {
	position: sticky;
	top: 0;
	padding: 2rem;

	background-color: var(--toc-header-bg-color);
	color: var(--toc-header-fg-color);
}

#toc .header h1 {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: 700;
}