.tree,
.tree ul,
.tree li {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	text-align: left;
	font-size: 0.8rem;
}

.tree ul:before,
.tree li:before,
.tree li:after {
	position: absolute;
	right: auto;
	content: '';
	user-select: none;
}

.tree {
	padding: 1rem;
}

.tree,
.tree ul:before,
.tree li:before {
	bottom: auto;
}

.tree ul,
.tree li {
	position: relative;
	padding: 0 0 3px;
}

.tree ul:before,
.tree li:after {
	background: #a6a6a6;
}

.tree ul:before {
	width: 0px;
	height: 1px;
	top: 0;
	left: 6px;
}

.tree li {
	padding: 0 0 0 1.2rem;
}

.tree li label {
	display: inline-block;
	cursor: pointer;
}

.tree input {
	display: none;
}

.tree input[type="checkbox"]~ul {
	display: none;
}

.tree input[type="checkbox"]:checked~ul {
	display: block;
}

.tree li:before {
	content: "";
	background: transparent 0 2px repeat-x url('data:image/gif;base64,R0lGODlhAQABAPAAAKampgAAACwAAAAAAQABAAACAkQBADs=');
	width: 10px;
	top: 5px;
	left: 0;
	height: 3px;
}

.tree li:after {
	height: auto;
	width: 1px;
	top: 0;
	left: 0;
	bottom: 0;
}

.tree li:last-child:after {
	height: 7px;
}

/* Folder, closed */
.tree input[type="checkbox"]~label {
	display: inline-block;
	width: 100%;
	background-image: url(/img/folder.closed.svg);
	background-repeat: no-repeat;
	background-size: 0.75rem 0.75rem;
	background-position: left center;
	padding-left: 1.2rem;
	color: #555;
}

.tree input[type="checkbox"]~label:hover {
	color: #000;
}

/* Folder, open */
.tree input[type="checkbox"]:checked~label {
	background-image: url(/img/folder.open.svg);
	background-repeat: no-repeat;
	background-size: 0.75rem 0.75rem;
	background-position: left center;
	padding-left: 1.2rem;
}

/* Document */
.tree li span {
	display: inline-block;
	width: 100%;
	background-image: url(/img/document.svg);
	background-repeat: no-repeat;
	background-size: 0.8rem 0.8rem;
	background-position: left center;
	padding-left: 1.2rem;
	cursor: pointer;
	color: #888;
}

.tree li span:hover {
	color: #000;
}

/* Dark mode */

:root.dark .tree ul:before,
:root.dark .tree li:after {
	background: #4b5563;
}

:root.dark .tree input[type="checkbox"]~label {
	color: #9ca3af;
}

:root.dark .tree input[type="checkbox"]~label:hover {
	color: #e5e7eb;
}

:root.dark .tree li span {
	color: #6b7280;
}

:root.dark .tree li span:hover {
	color: #e5e7eb;
}

:root.dark #outline .outline-title {
	color: #6b7280;
}

:root.dark #outline a {
	color: #9ca3af;
}

:root.dark #outline a:hover {
	color: #e5e7eb;
}
